       /* Ensure body and html take the full height */
       html, body {
        height: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    /* Flexbox layout for the whole body */
    body {
        display: flex;
        flex-direction: column;
    }

    /* Header styles */
    .header {
      background-color: #333;
      padding: 20px;
        text-align:left;
        color: white;
        text-align: lefts;
    }

    /* The main content container */
    .main-flex-container {
        display: flex;
        flex: 1; /* Makes the container grow to fill available space */
        border-bottom: 5px solid black; /* Border that touches the footer */
    }

    .sidebar {
        width:200px;
        background-color: #f4f4f4;
        padding: 10px;

    }

    .panel-group {
        flex: 1;
        padding: 20px;
    }

    .panel {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .footer {
        background-color: #333;
        color: white;
        padding: 10px;
        text-align: center;
    }

    /* Styling for the tab and other elements */
    .tab {
        cursor: pointer;
        font-weight: bold;
    }

    .is-active {
      border-bottom: 2px solid #0e0e0e;
      width:50%;

    }

.panel.is-show{
  display:block;
}

.panel{
  display:none;
  border: none;
}

#add-project-input {
  border:none;
  border-bottom: 2px solid #0e0e0e;

  outline: none;
  background-color: #f4f4f4;

}

#user-input {
  border:none;
  border-bottom: 2px solid #0e0e0e;
  outline: none;
  background-color: white;
}

.checked {
    text-decoration: line-through;
  }


.panel-group h4 {
  padding-right: 14.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.to-do {
  padding:1rem;
}


.to-do:hover {
  background-color: rgb(223, 223, 223);
cursor: pointer;
}

#add-project {
  padding:0.5rem;
}

#add-project:hover {
  background-color: rgb(223, 223, 223);
cursor: pointer;
}

.sidebar-text {
  font-size: 1.4rem;
}

.todo-parent p{
  font-size: 1.2rem;
}

input[type="checkbox"] {
 /* border-radius: 100%; */
}
