
body {
        margin: 0;
        padding: 0;
        font-family: "Roboto", serif;

}
.header {
    border:2px solid rgb(117, 119, 90);
    text-align: left;
    background-color: #333333;
    color: azure;
    font-family: "Roboto", serif;
    padding:1rem;
}


.main-flex-container{
    display: flex;

}

div {
    border:2px solid rgb(34, 31, 31);

}

#append-projects {
  border:none;
  cursor:pointer;

}
.main-flex-container div {
    /* border: 2px solid orange; */
    flex-grow: 2;
}

.sidebar {
    border:1px solid rgb(22, 22, 24);
    padding-bottom:12rem;
}

.sidebar h3 {
    font-size: 1.5rem;
}
.main-flex-container div:nth-of-type(2) {flex-grow: 15;}

/* 
li {
    border:2px dashed grey;
} */


.todo-parent {
    vertical-align: bottom;
width:100%;
height:0.1%;

.to-do {
    cursor: pointer;
    padding:10px;
    width:50rem;

}

.to-do:hover {
     background: rgb(221, 221, 221);


}


}

.checked {
    text-decoration: line-through;
  }



  h4 {
    padding-left:30%;
        font-family: "Roboto", serif;

  }
  h3 {
    padding-left:1%;
    font-family: "Roboto", serif;
  }


  p {
    /* border:2px blue dashed; */
    width:100%;
  }


  .sidebar-text {
    text-align: center;
  }

  #add-project {
    margin: auto;
    padding:0.4rem;
    text-align: center;
    
    /* border:2px dashed blue; */
  }
  .tab.is-active h4 {
    margin: auto;
    padding-top:1.2rem;
    width:50%;
  }

  .todo-list-items h3{
  font-size: 2rem;
  }

  

  #add-project:hover {
    background: rgb(221, 221, 221);

}








#user-input {
    border: 0;
    border-bottom: 2px solid Gray;
    outline: 0;
    font-size: 1rem;
    color: black;
    width:25%;
}  


#add-project-input {
    border: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: 0;
    font-size: 1rem;
    color: black;
    width:85%;
}  


.tab{
  padding:5px;
  text-align:center;
  cursor:pointer;
}

.tab.is-active{
border-bottom:2px solid rgb(161, 161, 163);
text-align: center;
width:30%;
padding-left:5rem;
}

.panel{
  display:none;
}


.panel.is-show{
  display:block;
}