


.header {
    border:2px solid rgb(117, 119, 90);
    text-align: center;
}


.main-flex-container{
    display: flex;

}

div {
    border:2px solid red;

}
.main-flex-container div {
    /* border: 2px solid orange; */
    flex-grow: 2;
}

.sidebar {
    border:1px solid blue;
    padding-bottom:12rem;
}
.main-flex-container div:nth-of-type(2) {flex-grow: 15;}

/* 
li {
    border:2px dashed grey;
} */


#todo-parent {
    vertical-align: bottom;

}

.checked {
    text-decoration: line-through;
  }

